@import 'variables';
.test{
    font-size: 1rem;
    background-color: red;
}
.container {
    color: yellow;
    
}
h1{
    color: $red-color;
    text-align: center;
}
.search-form {
  margin-top: 50px
}